#!/bin/bash

#    Copyright (C) 2002  <Gregory Hinton Nietsky>
#    Copyright (C) 2005  <ZA Telecomunications>
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program; if not, write to the Free Software
#    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA


if [ -e /etc/.install ];then
  exit;
fi;

if [ ! -e /etc/.install ];then
  if [ ! "`grep -E "^System Type" /var/spool/apache/htdocs/ns/config/netsentry.conf`" ];then
    echo "Restoring A Possibly Corrupted Config File ..."
    (/bin/cp /etc/nsswitch.conf.boot /etc/nsswitch.conf
    /usr/sbin/cfrestore) > /dev/null 2>&1
    if [ ! "`grep -E "^System Type" /var/spool/apache/htdocs/ns/config/netsentry.conf`" ] && [ -e /etc/firewall.conf.last ];then
      echo "Valid Config File Not Found In Backup Using Last Good Config ..."
      cp /etc/firewall.conf.last /var/spool/apache/htdocs/ns/config/netsentry.conf
      if [ "`grep -E "^System Type" /var/spool/apache/htdocs/ns/config/netsentry.conf`" ];then
        (/usr/sbin/genconf;
        /usr/sbin/servconfig;
        /usr/sbin/sqlpasswd) > /dev/null 2>&1
      fi;
     else
      cp /var/spool/apache/htdocs/ns/config/netsentry.conf /etc/firewall.conf.last
    fi;
    if [ ! "`grep -E "^System Type" /var/spool/apache/htdocs/ns/config/netsentry.conf`" ];then
      echo "System Recovery Failed Booting ..."
     else
      echo "System Recovery Succesful Booting ..."
    fi;
   else
    cp /var/spool/apache/htdocs/ns/config/netsentry.conf /etc/firewall.conf.last
  fi;
fi;

if [ ! "`/bin/pidof slapd`" ];then
  /usr/bin/db_recover -h /var/spool/ldap > /dev/null 2>&1
  if [ "$?" != "0" ];then
    echo "Restoring A Possibly Corrupted LDAP Database ..."
    if [ -e /var/spool/ldap/id2entry.bdb ] && [ -e /var/spool/ldap/dn2id.bdb ];then
      if [ ! -d /var/spool/backup/ldap ];then
        mkdir /var/spool/backup/ldap
      fi;
      cp /var/spool/ldap/id2entry.bdb /var/spool/ldap/dn2id.bdb /var/spool/backup/ldap
      rm /var/spool/ldap/__db.* /var/spool/ldap/*.bdb /var/spool/ldap/logs/* /var/spool/ldap/alock > /dev/null 2>&1
      cp /var/spool/backup/ldap/* /var/spool/ldap/
      /usr/sbin/slapcat -b "" > /var/spool/backup/ldap.ldif 2>/dev/null
      rm /var/spool/ldap/*.bdb > /dev/null 2>&1
      /usr/sbin/slapadd -b "" -l /var/spool/backup/ldap.ldif 2>/dev/null
      /usr/bin/db_checkpoint -1 -h /var/spool/ldap >/dev/null 2>&1
      /etc/rc.d/rc.ldap > /dev/null 2>&1
      if [ "`/bin/pidof slapd`" ];then
        echo "LDAP Recovery Succesful ..."
       else
        echo "LDAP Recovery Failed  ..."
      fi;
    fi;
  fi;
fi;
