#!/bin/bash

if [ ! -e /etc/.networksentry-lite ];then
  /usr/bin/checkpc -f > /dev/null 2>&1

  (/usr/sbin/clamd.start > /dev/null 2>&1) &
  if [ -e /etc/ntp.drift ];then
    cp /etc/ntp.drift /tmp
  fi;
  /usr/bin/ntpd -g > /dev/null 2>&1
  /usr/sbin/lpd > /dev/null 2>&1

  if [ -x /etc/rc.d/rc.cubit ];then
    chmod 700 /etc/rc.d/rc.cubit
    /etc/rc.d/rc.cubit
  fi;

  if [ -e /var/log/radutmp ];then
    rm /var/log/radutmp
  fi;
  touch /var/log/radutmp
  /usr/sbin/radiusd > /dev/null 2>&1
  if [ -s /etc/openvpn/openvpn.conf ];then
    if [ ! -e /etc/openvpn/serverdh.pem ];then
      (/usr/bin/openssl dhparam -5 -out /etc/openvpn/serverdh.pem 1024
      /usr/sbin/openvpn /etc/openvpn/openvpn.conf) > /dev/null 2>&1 &
     else
      /usr/sbin/openvpn /etc/openvpn/openvpn.conf > /dev/null 2>&1
    fi;
  fi;
fi;

if [ -x /etc/rc.d/rc.serial ];then
  /etc/rc.d/rc.serial
fi;

if [ ! -e /etc/.networksentry-lite ];then
#  if [ -e /etc/netatalk/atalkd.conf ] && [ ! -e /etc/.install ];then
#    /usr/sbin/atalkd &
#    if [ -e /etc/netatalk/afpd.conf ];then
#      if [ -e /var/lock/afpd ];then
#        rm /var/lock/afpd > /dev/null 2>&1
#      fi;
#      /usr/sbin/afpd &
#    fi;
#  fi;
  (/etc/rc.d/rc.hfax;/usr/libexec/t38modem_start) > /dev/null 2>&1 &
fi;
