KERNEL=="tun",          SUBSYSTEM=="misc",     NAME="net/%k"

SUBSYSTEM!="vc", GOTO="local_vc_end"
KERNEL=="vcs",			SYMLINK="vcc/0"
KERNEL=="vcs[0-9]*",		SYMLINK="vcc/%n"
KERNEL=="vcsa",         	SYMLINK="vcc/a0"
KERNEL=="vcsa[0-9]*",		SYMLINK="vcc/a%n"
LABEL="local_vc_end"

SUBSYSTEM!="dahdi", GOTO="local_dahdi_end"
KERNEL=="dahdictl",		SYMLINK="dahdi/ctl"
KERNEL=="dahditranscode",	SYMLINK="dahdi/transcode"
KERNEL=="dahditimer",		SYMLINK="dahdi/timer"
KERNEL=="dahdichannel",		SYMLINK="dahdi/channel"
KERNEL=="dahdipseudo",		SYMLINK="dahdi/pseudo"
KERNEL=="dahdi[0-9]*",		SYMLINK="dahdi/%n"
LABEL="local_dahdi_end"

SUBSYSTEM!="sound", GOTO="local_sound_end"
KERNEL=="audio*",		SYMLINK="sound/%k",   MODE="0666"
KERNEL=="dmmidi",		SYMLINK="sound/%k",   MODE="0666"
KERNEL=="dsp*",			SYMLINK="sound/%k",   MODE="0666"
KERNEL=="midi*",		SYMLINK="sound/%k",   MODE="0666"
KERNEL=="mixer*",		SYMLINK="sound/%k",   MODE="0666"
KERNEL=="sequencer*",		SYMLINK="sound/%k",   MODE="0666"
LABEL="local_sound_end"

SUBSYSTEM!="block", GOTO="local_block_end"
KERNEL=="sr0", ATTRS{removable}=="1", SYMLINK="cdrom"
KERNEL=="sr[1-9]", ATTRS{removable}=="1", SYMLINK="cdrom%n"
ACTION=="add|change", ENV{ID_BUS}=="usb", ENV{ID_USB_DRIVER}=="usb-storage", RUN+="usb_modechange %E{ID_VENDOR_ID} %E{ID_MODEL_ID}"
ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_USB_DRIVER}=="usb-storage", RUN+="load_usb_storage"
LABEL="local_block_end"

SUBSYSTEM!="tty", GOTO="local_tty_end"
KERNEL=="ttyUSB[0-9]*", ENV{ID_USB_DRIVER}=="option", ACTION=="add", PROGRAM=="gsmmodem /dev/%k", SYMLINK:="gsmmodem"
KERNEL=="ttyUSB[0-9]*", ATTRS{idVendor}=="0bc3", NAME="ttyIPW%n", SYMLINK="tts/IPW%n"
LABEL="local_tty_end"

SUBSYSTEM!="net", GOTO="local_net_end"
ACTION=="add|change", SUBSYSTEM=="net", KERNEL=="*", RUN+="/usr/sbin/ifcfg $name"
ACTION=="remove", SUBSYSTEM=="net", KERNEL=="ppp[0-9]", RUN+="pppdown %k"
ACTION=="remove", SUBSYSTEM=="net", KERNEL=="ppp10", RUN+="pppdown ppp3g"
LABEL="local_net_end"

SUBSYSTEMS!="usb", ACTION!="add", GOTO="xpp_usb_add_end"
ATTRS{idVendor}=="e4e4", ATTRS{idProduct}=="11[345][01]", RUN+="/etc/hotplug/usb/xpp_fxloader udev $sysfs{idVendor}/$sysfs{idProduct}/$sysfs{bcdDevice}"
LABEL="xpp_usb_add_end"

KERNEL=="regulatory*", ACTION=="change", SUBSYSTEM=="platform", RUN+="/sbin/crda"
