.netsentry_theme
{
	separator-image: url(images/bcarule.gif);
	list-image-1: url(images/ull1.gif);
	list-image-2: url(images/ull2.gif);
	list-image-3: url(images/ull3.gif);
	nav-banner-image: url(images/theme/bcabnr.gif);
	navbutton-horiz-normal: url(images/theme/bcahnd.gif);
	navbutton-horiz-hovered: url(images/theme/bcahnm.gif);
	navbutton-horiz-pushed: url(images/theme/bcahns.gif);
	navbutton-vert-normal: url(images/theme/bcavnd.gif);
	navbutton-vert-hovered: url(images/theme/bcavnm.gif);
	navbutton-vert-pushed: url(images/theme/bcavns.gif);
	navbutton-home-normal: url(images/theme/bcahomd.gif);
	navbutton-home-hovered: url(images/theme/bcahomm.gif);
	navbutton-home-pushed: url(images/theme/bcahomd.gif);
	navbutton-next-normal: url(images/theme/bcanexd.gif);
	navbutton-next-hovered: url(images/theme/bcanexm.gif);
	navbutton-next-pushed: url(images/theme/bcanexd.gif);
	navbutton-prev-normal: url(images/theme/bcapred.gif);
	navbutton-prev-hovered: url(images/theme/bcaprem.gif);
	navbutton-prev-pushed: url(images/theme/bcapred.gif);
	navbutton-up-normal: url(images/theme/bcaupd.gif);
	navbutton-up-hovered: url(images/theme/bcaupm.gif);
	navbutton-up-pushed: url(images/theme/bcaupd.gif);
}
.netsentry_theme-bannertxt
{
	font-family: Bauhaus 93;
	color: rgb(255, 255, 0);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-horiz-navtxt
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-vert-navtxt
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-navtxthome
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtnext
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtprev
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtup
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url('images/ull1.gif');
}
ul ul
{
	list-style-image: url('images/ull2.gif');
}
ul ul ul
{
	list-style-image: url('images/ull3.gif');
}
a:link
{
	color: #222244;
}
a:active
{
	color: #222244;
}
a:visited
{
	color: #222244;
}
body
{
	background-color:#6071d1;
	color: #222244;
}
table
{
	table-border-color-light: rgb(51, 153, 102);
	table-border-color-dark: rgb(0, 0, 51);
}
h1
{
	color: rgb(0, 128, 0);
}
h2
{
	color: rgb(0, 0, 128);
}
h3
{
	color: rgb(204, 51, 0);
}
h4
{
	color: rgb(102, 102, 153);
}
h5
{
	color: rgb(0, 0, 128);
}
h6
{
	color: rgb(0, 0, 128);
}
button
{
	background-color: rgb(51, 0, 153);
	color: rgb(255, 255, 255);
}
label
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-text
{
	background-color: rgb(0, 0, 0);
	color: rgb(11, 0, 0);
}
textarea
{
	color: rgb(11, 0, 0);
}
fieldset
{
	color: rgb(11, 0, 0);
}
legend
{
	color: rgb(51, 0, 153);
}
select
{
	color: rgb(11, 0, 0);
}
caption
{
	color: rgb(51, 0, 153);
}
th
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-bannertxt a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-bannertxt a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-bannertxt a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-bannertxt-g
{
	font-family: Bauhaus 93;
	color: rgb(255, 255, 0);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-bannertxt-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-bannertxt-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-bannertxt-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-bannertxt-s
{
	font-family: Bauhaus 93;
	color: rgb(255, 255, 0);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-bannertxt-s a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-bannertxt-s a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-bannertxt-s a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-horiz-navtxt a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-horiz-navtxt a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-horiz-navtxt a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-horiz-navtxt-g
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-horiz-navtxt-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-horiz-navtxt-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-horiz-navtxt-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-horiz-navtxt-gs
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-horiz-navtxt-gs a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-horiz-navtxt-gs a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-horiz-navtxt-gs a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxthome a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxthome a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxthome a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxthome-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxthome-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxthome-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxthome-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxthome-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxthome-gs a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxthome-gs a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxthome-gs a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtnext a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtnext a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtnext a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtnext-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtnext-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtnext-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtnext-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtnext-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtnext-gs a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtnext-gs a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtnext-gs a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtprev a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtprev a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtprev a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtprev-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtprev-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtprev-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtprev-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtprev-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtprev-gs a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtprev-gs a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtprev-gs a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtup a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtup a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtup a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtup-g
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtup-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtup-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtup-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-navtxtup-gs
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 255);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.netsentry_theme-navtxtup-gs a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-navtxtup-gs a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-navtxtup-gs a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-topbar-font a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-topbar-font a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-topbar-font a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-topbar-font-g
{
	font-family: Bauhaus 93;
	color: rgb(0,51,51);
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-topbar-font-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-topbar-font-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-topbar-font-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-vert-navtxt a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-vert-navtxt a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-vert-navtxt a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-vert-navtxt-g
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-vert-navtxt-g a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-vert-navtxt-g a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-vert-navtxt-g a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-vert-navtxt-gs
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme-vert-navtxt-gs a:link
{
	color: rgb(0, 0, 0);
}
.netsentry_theme-vert-navtxt-gs a:active
{
	color: rgb(102, 0, 102);
}
.netsentry_theme-vert-navtxt-gs a:visited
{
	color: rgb(51, 153, 51);
}
.netsentry_theme-vert-navtxt
{
	font-family: Arial Narrow;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.netsentry_theme     { navbutton-background-color: rgb(153,153,102); top-bar-button: url(bcgbl.gif) }
.netsentry_theme-topbar-font { color: rgb(0,51,51); font-family: Verdana, Arial, Helvetica; font-size: 8pt }
.netsentry_theme-color1 {
	background-color: #ccccff;
}
.netsentry_theme-color2 {
	background-color: #aaaaff;
}
.netsentry_theme-info1 {
	color: #000000;
}
.netsentry_theme-info2 {
	color: #0000FF;
}
body         { vertical-align: none; text-align: none; 
               font-family: Times New Roman; font-style: normal; font-weight: 
               normal }
button       { font-size: 8pt; font-style: normal; font-family: Verdana, Arial, Helvetica; 
               border-style: solid; border-width: 1pt }
caption      { font-size: 14pt; font-style: normal; font-family: Verdana, Arial, Helvetica }
fieldset     { font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-style: normal; 
               border-style: solid; border-width: 1pt }
h1           { vertical-align: none; font-style: normal; font-size: 24pt; font-family: 
               Bauhaus 93; text-align: none; font-weight: normal }
h2           { font-family: Bauhaus 93; font-style: normal; font-size: 18pt; font-weight: 
               normal; vertical-align: none; text-align: none }
h3           { font-family: Bauhaus 93; text-align: none; font-size: 14pt; vertical-align: 
               none; font-weight: normal; font-style: normal }
h4           { font-weight: normal; font-size: 12pt; font-style: normal; text-align: none; 
               font-family: Bauhaus 93; vertical-align: none }
h5           { font-size: 10pt; font-style: normal; font-weight: normal; font-family: 
               Bauhaus 93; vertical-align: none; text-align: none }
h6           { text-align: none; vertical-align: none; font-family: Bauhaus 93; font-size: 
               8pt; font-style: normal; font-weight: normal }
label        { font-family: Verdana, Arial, Helvetica; font-size: 8pt; font-style: normal }
label, .netsentry_theme-label { font-size: 8pt; font-family: Verdana, Arial, Helvetica; font-style: normal }
legend       { font-style: normal; font-size: 8pt; font-family: Verdana, Arial, Helvetica }
marquee      { font-family: Verdana, Arial, Helvetica; font-size: 14pt }
select       { font-style: normal; font-family: Verdana, Arial, Helvetica; font-size: 8pt; 
               border-style: solid;  }
table        { font-family: Times New Roman; font-style: normal; font-weight: normal; 
               text-align: none; vertical-align: none }
textarea     { font-style: normal; font-size: 8pt; font-family: Verdana, Arial, Helvetica; 
               border-style: solid;  }
th           { font-family: Verdana, Arial, Helvetica; font-style: normal }
