root::0:admin
bin::1:
ftp::1:
daemon::2:
fax::3:
adm::4:
lp::7:
mysql::10:
pgsql::11:
postgres::11:
mail::12:
news::13:
svn::13:svn
uucp::14:
tty::15:
asterisk::20:root
sshd::22:
smmsp::25:
gdm::42:
majordomo::45:
sweep::50:
clamav::51:
dialout::51:root
kmem::52:root
video::53:root
audio::54:root,gregory
disk::55:root
floppy::56:root
cdrom::57:root
tape::58:root
avahi::59:
messagebus::60:
pulse::61
www::80:www
nobody::99:
radius::150:
pctrust::200:
input::400:
git::418:
squid::428:
tss:x:1000:
nogroup::65535:
